* {
    color: white;
}

body {
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    color: black !important;
    margin-top: 5px;
}

input[type="submit"] {
    width: 50px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    border: 1px white solid;
    border-radius: 10px;
    left: 50%;
    transform: translate(50%);
    margin-top: 20px;
}